body {
    overflow-y: hidden;
    overflow-x: hidden;
}

a{
    text-decoration: none !important;
}

li{
    list-style-type: none !important;
}

/* header styling */

.header-left{
    position: absolute;
    left: 40px;
    top: -20px;
}
.header-left h2{
    font-size: 70px;
    font-weight: 600;
}
.header-right ul{
    position: absolute;
    right: 20px;
    top: 10px;
    width: 50%;
    height: 3px;
}

.header-right ul li:nth-of-type(1){
    top: 20%;
}

.header-right ul li:nth-of-type(2){
    top: 50%;
}

.header-right ul li:nth-of-type(3){
    top: 80%;
    width: 50%;
}

.header-right ul li:nth-of-type(1),
ul li:nth-of-type(2),
ul li:nth-of-type(2){
    left: 0;
}

/* Main styling */

.transparent-text{
    position: absolute;
    left: -10px;
    bottom: 600px;
}

.transparent-text-heading{
    font-size: 525px;
    color: rgba(105, 173, 140, 0.4);
}

.tt-span-one{
    position: absolute;
    top: 10px;
    left: -150;
    z-index: -1;
}

.transparent-text-heading-2{
    font-size: 525px;
    color: rgba(192, 91, 84, 0.4);
}

.tt-span-three{
    position: absolute;
    top: 450px;
    left: -150;
    z-index: -1;
}

.transparent-text-heading-3{
    font-size: 525px;
    color: rgba(234, 185, 74, 0.4);
}

.tt-span-four{
    position: absolute;
    top: 450px;
    left: 700px;
    z-index: -1;
}

.orange-main{
    height: 100vh;
}

.orange-subsec1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.head-main{
    font-size: 200px;
    color: rgb(119, 115, 115);
    z-index: 2;
}

.header-left{
    z-index: 2;
}

.o3{
    height: 200px;
    width: 200px;
    margin-bottom: -200px;
}

.orange-diag{
    height: 300px;
    width: 300px;
    position: absolute;
    right: 320px;
    top: 230px;
    background-color: rgba(179, 38, 38, 0.3);
    /* clip-path: polygon(25% 0%, 100%, 0%, 75% 100%, 0% 100%); */
    z-index: 2;
}

.orange-subsec1 p{
    position: absolute;
    width: 300px !important;
    font-style: italic;
    color: rgba(34, 34, 34, 0.7);
    left: 45px;
    top: 120px;
    z-index: 1;
}

.getstarted{
    position: absolute;
    left: 45px;
    top: 230px;
    z-index: 1;
}

.getstarted h1{
    font-weight: 600;
    font-size: 20px;
}

.o1{
    position: absolute;
    bottom: -10px;
    right: 0px;
}

.o1 img{
    height: auto;
    width: 750px;
}

/* .btn {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 10px;
    font-size: 25px;
    z-index: 1;
    border-radius: 8px;
} */


/* Background image styling */

.background {
    background-color: white;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 420px;
    height: 800px;
}


/* Logo styling */

img{
    max-width: 100%;
    max-height: 100%;
}

.logo {
    position: absolute;
    bottom: 200px;
    left: 120px;
    width: 150px;
    height: 150px;
}


/* Button styling */

.getstartedbtn {
    position: absolute;
    top: 240px;
    left: 40px;
    z-index: 1;
}

.button {
    border-radius: 8px;
    background-color: #f9e3bc;
    border: black;
    color: black;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

.credits {
    font-size: 10px;
    z-index: 1;
    color: black;
    position: absolute;
    bottom: 10px;
    left: 110px;
}