body {
    background-color: #fff5f1;
}

.dashboard-page-background {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.dashboard-user-profile-container {
    display: block;
    flex-direction: column;
    align-items: stretch;
    padding: 21px 19px;
    gap: 10px;

    /* box-sizing: border-box; */
    width: 100%;
    height: max-content;

    background: #FFE6DC;

    flex: none;
    order: 1;
    flex-grow: 0;

}

.dashboard-user-profile {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 19px;
    box-sizing: border-box;

    /* width: 100%; */
    height: 78px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.dashboard-user-profile-img {
    width: 82px;
    height: 82px;
    border-radius: 50px;

    background-color: #D9D9D9;
}

.dashboard-user-profile-img img {
    width: 82px;
    height: 82px;
    border-radius: 20px;
}

.dashboard-user-profile-name-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;

    width: max-content;
    height: 60px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.dashboard-user-profile-name {
    width: max-content;
    height: 30px;
    margin-top: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vw;
    line-height: 30px;

    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.dashboard-user-profile-logout-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 7px;

    width: max-content;
    height: 24px;


    flex: none;
    order: 1;
    flex-grow: 0;
}

.dashboard-user-profile-logout-icon {
    width: 24px;
    height: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.dashboard-user-profile-logout-text {
    display: block;
    width: max-content;
    height: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    color: #000000;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.dashboard-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 7vw;
    gap: 18px;

    box-sizing: border-box;
    /* width: max-content; */
    height: 255.75px;

}

.dashboard-header-title {
    width: max-content;
    height: max-content;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 39px;

    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.dashboard-category-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 5vw;

    width: max-content;
    height: 202px;

    flex: none;
    order: 1;
    flex-grow: 0;
    position: relative;
}

.dashboard-category-image {
    width: 10vw;
    height: 10vw;

    background: #D9D9D9;
    border-radius: 100px;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25);

    align-items: center;
    display: inline-block;
    vertical-align: top;

    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
    text-align: center;
}

.dashboard-category-image:hover {
    transition: transform .5s;
    transform: scale(1.1);
}

.dashboard-category-image img {
    width: 10vw;
    height: 10vw;
    border-radius: 100px;
}

.dashboard-category-image-custom {
    width: 10vw;
    height: 10vw;
    color: #000000;

    background: #D9D9D9;
    border-radius: 100px;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25);

    align-items: center;
    display: inline-block;
    vertical-align: top;

    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
    text-align: center;
}

.dashboard-category-image a:link{
    text-decoration: none;
    color: #000000;
}

.dashboard-category-image a:visited{
    text-decoration: none;
    color: #000000;
}

.dashboard-category-image a:hover{
    text-decoration: underline;
    color: #000000;
}

.dashboard-category-image a:active{
    text-decoration: underline;
    color: #000000;
}

.dashboard-category-image-custom a:link{
    text-decoration: none;
    color: #000000;
}

.dashboard-category-image-custom a:visited{
    text-decoration: none;
    color: #000000;
}

.dashboard-category-image-custom a:hover{
    text-decoration: underline;
    color: #000000;
}

.dashboard-category-image-custom a:active{
    text-decoration: underline;
    color: #000000;
}

.dashboard-category-image-custom:hover {
    transition: transform .5s;
    transform: scale(1.1);
}

.dashboard-category-image-custom img {
    width: 5vw;
    height: 5vw;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    border-radius: 100px;
}

.dashboard-category-caption {
    margin-top: 10px;
    display: block;
}

.dashboard-category-text {
    width: 157.98px;
    height: 27.68px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.dashboard-item-wheel-container {
    display: flex;
    align-items: flex-start;
    margin-left: 15px;
    padding: 5px 5vw;
    gap: 30px;    
    
}

.dashboard-item-wheel-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align:middle;
    padding: 0px;
    gap: 13px;
    color: black;

    width: max-content;
    height: max-content;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.dashboard-item-wheel-title h1 {
    width: max-content;
    height: max-content;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 39px;

    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.dashboard-item-wheel-title-img {
    width: 15px;
    height: 15px;
    align-items: center;
    display: block;
    flex: none;
    order: 1;
    flex-grow: 0;
}




/* Dashboard Carousel - React Slick version */

.Dashboard-Carousel {
    width: 90%;
    margin: 0 auto;
    /* align-items: flex-start; */
    /* margin-top: 0; */
}
  
.slick-slide > div {
    margin: 0 10px;
}
.slick-list {
    margin: 0 -10px;
    height: 290px;
}

.slick-track {
    float: left;
    margin-top: 15px;
    margin: 15px;
}

.slick-prev::before,
.slick-prev::after {
    color: #000000 !important;
}

.slick-next::before,
.slick-next::after {
    color:#000000 !important;
}

.Dashboard-item-card {
    border: 1px solid #fff;
    background: #FFE6DC;
    border-radius: 8px;
    overflow: hidden;

    height: 250px;
    color: black;
    cursor: pointer;
}

.Dashboard-item-card:hover {
    transition: transform .5s; 
    transform: scale(1.1);   
} 

.dashboard-item-card-top h1 {
    text-align: center;
    align-items: center;
    font-size: 1.1rem;
    vertical-align: middle;
    margin: 5%;
}

.dashboard-item-card-top > img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    background: white;
}

.dashboard-item-card-top img {

    max-width: 100%;
    max-height: 100%;
}

.dashboard-item-card-bottom {
    margin: 10px 20px;
}

.dashboard-item-card-bottom h3 {
    text-align: center;
}

.dashboard-item-category {
    position: relative;
}

.dashboard-item-category::before {
    content: '';
    background: rgb(255, 61, 61);
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    right: 0;
    height: 2px;
}


.dashboard-no-item-header {
    margin-left: 30px;
}
