.main-item-page-background{
    background-color:white;
}

.leftSide{

}

.rightSide{

}

.circularButtonn {
    height: 80px;
    line-height: 80px;  
    width: 80px;  
    font-size: 2em;
    font-weight: bold;
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    cursor: pointer;
  }